{% extends 'base-bs.html' %}

{% load staticfiles %}

{% block title %}
Setup Your Stripe Account | Coact
{% endblock %}

{% block css %}
"{% static "css/bootstrap-css/stripe_setup.css" %}"
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 stripe-head">
                <h1>Setup Your Payment Account</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 stripe-text">
                <p>Please setup your stripe account so we know where to send the money you earn to. We use Stripe to make sure that you receive your earnings securely and confidently. Once you have setup your account by pressing the button below, you will be redirected to setup your dream class!</p>
                <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_4TamfC1v8Ik7Iehtch3Pw9hykMxjZARS&scope=read_write&state=1234" type="button"><img src="{% static 'img/blue.png' %}" alt="Stripe Button"></a>
            </div>
        </div>
    </div>

{% endblock %}