body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'avenir' sans-serif;
    margin: 0;
    background-color: rgb(255, 244, 224);

}

/*
******************************
       NAVIGATION BAR
******************************
*/

.navbar-container {
    background-color: rgba(249, 253, 255, .60);
    width: 100%;
    margin: .5rem 6rem .5rem 6rem auto;
    display: inline-block;
}

.navbar-pullright {
    width: 100%;
}

.navbar-buttons {
    /*background-color: blue;*/
    display: inline-block;
    max-height: 3rem;
    float: right;
    margin-top: 1%;
}

a {
    text-decoration: none;
    color: #6b6b6b;
}

.navbar-buttons ul li {
    list-style-type: none;
    display: inline-block;
    /*background-color: olive;*/
    padding: .75rem;
    font-size: 1rem;
    margin-top: -2.3rem;
}

.navbar-company {
    width: 20%;
    max-height: 3rem;
    /*background-color: purple;*/
    display: inline-block;
    padding: .9rem;
    margin-left: 1rem;
}

.profile-image {
    border-radius: 100px;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.line-image {
    margin-right: -5%;
}


hr {
    margin: 0;
}

/*
******************************
          MESSAGES
******************************
*/

li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

/*
******************************
          FOOTER
******************************
*/

footer {
    text-align: center;
    margin-top: 5rem;
    /*background-color: rgb(255, 244, 224);*/
}

