body {
    background: url(../img/camera_photo_blur_light.jpg) fixed no-repeat center center;
    background-size: cover;
}

input {
	border: 0;
	padding: .8rem;
	font-size: 1rem;
	margin: 1rem .3rem auto;
	border-radius: 5px;
	width: 5%;
    background-color: #ffffff;
    text-align: center;
}

table {
    margin: auto;
}

form {
    text-align: center;
    margin: auto;
}

h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    font-family: 'Bitter' sans-serif;
    font-weight: 100;
    font-size: 3rem;

}

input {
    width: 10%;
    font-weight: 200;
    color: #ffffff;
}

.button {
    border: 1px solid #ffffff;
    background-color: rgba(0,0,0,0);
}

.button:hover {
    -webkit-transition: .5s ease;
    box-shadow: 0 0 15px;
}

.button:active {
    -webkit-transition: .2s ease;
    box-shadow: 0 0 75px;
}

label {
    display: block;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    text-align: center;
}

#id_recipient, #id_subject, #id_body {
    position: relative;
    background-color: #ffffff;
    margin: 0;
    color: #000000;
    width: 100%;
    background-color: rgba(250, 248, 255, 0.60);
    border-radius: 5px;
    border: 1px solid #ffffff;

}

#id_body {
    width: 106%;
}

