.outbox-wrapper {
    position: relative;
    width: 45%;
    background-color: rgba(242, 242, 242, 0.90);
    text-align: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px;
}

table {
    position: relative;
    margin: auto;
    font-family: 'Bitter' sans-serif;
}

th, td {
    padding: 2rem;
    color: #000000;

}

td a {
    text-decoration: underline;
    font-family: 'avenir' sans-serif;
}

th {
    border-bottom: #000000 2px;
    font-size: 1.5rem;
    margin-bottom: -1.5rem;
}