body {
	font-family: avenir, helvetica, sans-serif;
	text-align: center;
	/*background: url(../img/camera_photo_blur_light.jpg) no-repeat center center fixed;*/
    background: url(../img/computer%20and%20desk-3.jpg) no-repeat center center fixed;
	background-size: cover;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    width: 100%;
}

nav li {
	display: inline;
}

#signup-link {
    position: relative;
	overflow: hidden;
	font-size: 1rem;
	font-weight: 400;
	border: 1px solid white;
	border-radius: .25rem;
	text-decoration: none;
	color: white;
	margin-left: 45%;
    display: inline-block;
    padding: .5% 1%;
    margin-bottom: 2%;
}



#signup-link:hover {
	background-color: aqua;
    -webkit-transition: .7s ease;
    transition: .7s ease;
}

h1, p {
	color: #fff;
	text-shadow: -.03em .03em #000;
	font-weight: 10;
}

h1 {
	text-align: center;
	padding: 2em 1em 0em;
	margin: .5em auto;
	margin-top: -1em;
	font-size: 550%;

}

p {
	text-align: center;
	margin: auto;
	margin-bottom: .5rem;
	font-size: 150%;
	max-width: 60%;
}

#wrapper-form {
    position: relative;
	padding: 1rem;
	margin: .5rem auto;
	display: inline-block;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	border-radius: .5rem;
	background: rgba(0,0,0,0.5);
	font-size: .7rem;
	width: 46%;
}

#wrapper-form p {
	width: 70rem;
	max-width: 70%;
	color: rgba(.5,.5,.5,0.5);
	margin-top: -1.5rem;
}

input {
	border: 0;
	padding: .8rem;
	font-size: 1rem;
	margin: 1rem .3rem auto;
	border-radius: 5px;
	margin-bottom: 2rem;
	width: 35%;
	max-width: 35%;
}

input[type=submit] {
	color: white;
	background-color: aqua;
	text-shadow: .03em .03em #000;
	width: auto;
}

input[type=submit]:hover {
	color: aqua;
	background-color: #f9fdff;
    -webkit-transition: .7s ease;
    transition: .7s ease;
}

.point1, .point2, .point3 {
	/* background-color: black; */
	padding: 2rem 1rem;
	margin: 2rem .5rem;
	border: 6px solid aqua;
	display: inline-block;
	list-style-type: none;
	width: 15rem;
	height: 2rem;
	max-width: 20rem;
	max-height: 40%;
	color: white;
	font-weight: 400;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.point1:hover, .point2:hover, .point3:hover {
    color: rgba(0, 255, 255, .7);
    border: 6px solid rgba(0,255,255,.1);
    font-weight: 1000;
    -webkit-transition: .5s ease;
    transition: .5s ease;

}

.logo {
    position: relative;
    margin-left: 0;
}
