{% load staticfiles %}


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- JS Files -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>


    <!-- CSS Files -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href={% block css %}{% endblock %}>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"

    <!-- include the calendar js and css files -->
    <script src="{% static 'js/zabuto_calendar.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/zabuto_calendar.min.css' %}">

    {% block head %}

    {% endblock %}


</head>
<body>
<!--
******************************
       NAVIGATION BAR
******************************
-->
<div class="navbar-wrapper">
    <div class="navbar-container">
        <div class="navbar-company">
            <a href="{% url 'beta' %}" id="home-logo"><img src="{% static "img/coact logo2.png" %}" alt="coact logo"></a>
        </div>
    {% if user.is_authenticated %}
        <div class="navbar-buttons">
            <ul class="navbar-pull-right">
{#                <li><a href="#" id="Contact">Contact Us</a></li>#}
                <li class="line-image"><a href="{% url 'view_profile' request.user.id %}" id="profile-picture"><img class="profile-image" src="{{ request.user.image.url }}"></a></li>
                <li><a href="{% url 'view_profile' request.user.id %}" id="Settings">{{ request.user.username }}</a></li>
                <li><a href="{% url 'messages_inbox' %}" id="messages">Messages</a></li>
                <li><a href="{% url 'create_class' %}" id="Create Class">Create Class</a></li>
                <li><a href="{% url 'logout' %}" id="Logout">Logout</a></li>
            </ul>
        </div>
    {% else %}
        <div class="navbar-buttons">
            <ul class="navbar-pull-right">
{#                <li><a href="#" id="Contact">Contact Us</a></li>#}
                <li><a href="{% url 'login' %}" id="Settings">Login</a></li>
                <li><a href="{% url 'register' %}" id="Logout">Register</a></li>
            </ul>
        </div>
    {% endif %}
    </div>
</div>
<hr>
<div class="block-content">
{% block content %}

{% endblock %}
</div>
{% block sidebar %}{% endblock %}



<!--
******************************
         FOOTER
******************************
-->

<footer>
    <p>&copy; 2014 Coact, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

</body>
</html>