{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
Learn to code by creating apps | Coact
{% endblock %}

{% block css %}
"{% static "css/beta.css" %}"
{% endblock %}

<!--
******************************
      JUMBOTRON WINDOW
******************************
-->
{% block content %}

<div class="jumbotron-image">
    <div class="jumbotron-text">
{#        <img class="walker"src="{% static "css/img/walker1.jpg" %}" alt="Walking Forest" height="700" width="1600">#}
        <h1>Learn by creating.</h1>
        <p>Start building your future by creating your favorite app.</p>
    </div>
    <div class="jumbotron-socialproof">
        <!-- Photoshop a social proof review -->
        <!-- <img src="#" alt="social proof"> -->
    </div>
    <div id="wrapper-form">
        <form>
            <input id="search" type="search" placeholder="What do you want to learn?" name="search">
            <input id="submit" type="submit" value="Search" name="SubmitButton">
        </form>
    </div>
</div>

<!--
******************************
    AVAILABLE CLASSES(TBD)
******************************
-->
<div class="classes-section">
    <div class="helper">
        <h1>Available Projects</h1>
    </div>
    <div class="main-container">
        {% for class in classroom %}
        <div class="class1">
            <div class="image">
                <img class="profile" src="{{ class.screenshot.url }}" alt="Profile picture" height="150" width="170">
            </div>
            <div class="details">
                <a href="{% url 'class_details' class.id %}" class="class-name">{{ class }}</a>
                <h3 class="teacher">by: {{ class.teacher }}</h3>
                <p class="short-description">{{ class.short_description }}</p>
            </div>
            <div class="cost">
                <a href="{% url 'class_details' class.id %}" class="cost-button">${{ class.cost }} <div class="one-hour"> for 1 hour</div></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
