{% extends 'base-bs.html' %}
{% load staticfiles %}

{% block title %}

{% endblock %}


{% block css %}
{% static 'css/bootstrap-css/charge.css' %}
{% endblock %}

{% block head %}



{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 background-container">
        </div>
    </div>
</div>

<div class="wrapper-header">
    <div class="container header-container">
        <div class="row title-row">
            <div class="col-md-12 title-column">
                <h1 class="user-name">{{ user }} </h1>
                <p class="thankyou">Thank you for enrolling in:</p>
                <a href="{% url 'class_details' classroom.id %}"><p>{{ classroom.title }} with {{ classroom.teacher.first_name }}</p></a>
            </div>
        </div>
    </div>
</div>

{#<div class="payment-breakdown container">#}
{#    <div class="payment-breakdown-row row">#}
{#        <div class="payment-breakdown-col col-md-12">#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}

{#<tbody class="table-hover payment-breakdown">#}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Payment Details</h3>
        </div>
    </div>
    <table class="table table-hover col-md-12">
        <tr>
            <th>Item</th>
            <th>Charge To</th>
            <th>Cost</th>
        </tr>
        <tr>
            <td>{{ classroom.title }}</td>
            <td>{{ classroom.teacher.first_name }}</td>
            <td>${{ classroom.cost }}</td>
        </tr>
        <tr>
            <td>Total:</td>
            <td></td>
            <td>${{ classroom.cost }}</td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-12">
            <span></span>
        </div>
    </div>
</div>
{#</tbody>#}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53450139-1', 'auto');
  ga('send', 'pageview');

</script>

{% endblock %}