{% extends 'base-bs.html' %}
{% load staticfiles %}

{% block title %}
{{ classroom.title }} Details | Coact
{% endblock %}


{% block css %}
"{% static 'css/bootstrap-css/class_details.css' %}"
{% endblock %}


{% block content %}
{#<div class="outside-titles">#}
{#    <h1 class="outside-name">{{ classroom.title }}</h1>#}
{#    <p class="outside-teacher">by: {{ classroom.teacher }}</p>#}
{#</div>#}
{#<div class="complete-wrapper clearfix">#}
{#    <div class="sidebar-container">#}
{#        <div class="teacher-container">#}
{#            <a href="{% url 'view_teacher' classroom.teacher.id %}"><h1 class="teacher-name">{{ classroom.teacher }}</h1></a>#}
{#            <img id="teacher-picture" src="{{ classroom.teacher.image.url }}" alt="picture of teacher">#}
{#            {% if classroom.teacher == request.user %}#}
{#            <a id="edit-details" href="{% url 'edit_class' classroom.id %}">Edit Class Details</a>#}
{#            {% endif %}#}
{#            <div class="about-teacher">#}
{#                <p>{{ classroom.teacher.about }}</p>#}
{#            </div>#}
{#        </div>#}
{#    <hr>#}
{#        <div class="class-cost">#}
{#            <p>${{ classroom.cost }} for 1 hour</p>#}
{#        </div>#}
{#    <p>Reserve Your First Hour</p>#}
{##}
{##}
{#    <form action="/charge/{{ classroom.id }}" method="POST" class="stripeBtn" style="text-align: center;">#}
{#    {% csrf_token %}#}
{#      <script#}
{#        src="https://checkout.stripe.com/checkout.js" class="stripe-button"#}
{#        data-key="pk_test_pWxm3wMH8P9Lvrp96uZp7nHK"#}
{#        data-amount="{{ classroom.cost }}"#}
{#        data-name="{{ classroom.teacher }}"#}
{#        data-description="{{ classroom.title }} (${{ classroom.cost }})"#}
{#        data-image="{% static 'img/coact logo2-100.png' %}">#}
{#      </script>#}
{#    </form>#}
{##}
{##}
{#    <p>Schedule a time to meet</p>#}
{#    <div class="contact-teacher">#}
{#        <a href="{% url 'join_class' classroom.id %}" id="join_class"><input id="join-class" type="submit" value="Schedule a lesson" name="SubmitButton"></a>#}
{#        <a id="message-teacher" href="{% url 'messages_compose_to' classroom.teacher %}"><input id="send-message" type="submit" value="Send a message" name="SubmitButton"></a>#}
{#    </div>#}
{#    <div class="hangout">#}
{#        <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>#}
{#        <g:hangout render="createhangout"#}
{#            invites="[{ id : '{{ request.user.email }}', invite_type : 'PROFILE' },#}
{#                      { id : 'foo@example.com', invite_type : 'EMAIL' }]">#}
{#        </g:hangout>#}
{#    </div>#}
{##}
{#    <hr>#}
{#        <div class="social-proof">#}
{#            <h3 class="social-title">What other students think</h3>#}
{#            {% for review in classroom.classroom_review.all %}#}
{#                {% if classroom.classroom_review.all.count == 0 %}#}
{#                    <ul>#}
{#                        <li>No reviews for this class! You should be the first!</li>#}
{#                    </ul>#}
{#                {% else %}#}
{#                    <ul>#}
{#                        <li>"{{ review }}"</li>#}
{#                        <hr>#}
{#                    </ul>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#            <ul>#}
{#                <li><a class="leave-review" href="{% url 'create_review' classroom.id %}">Leave A Review</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="screenshot">#}
{#        <img src="{{ classroom.screenshot.url }}" class="classroom-screenshot" alt="class screenshot" height="400" width="700">#}
{#    </div>#}
{#    <div class="about">#}
{#        <h1>{{ classroom.title }}</h1>#}
{#        <p class="project-title">Project: {{ classroom.project }}</p>#}
{#        <p>{{ classroom.description }}</p>#}
{#    </div>#}
{#</div>#}

<div class="wrapper-header">
    <div class="container header-container">
        <div class="row title-row">
            <div class="col-md-12 title-column">
                <h1>{{ classroom.title }}</h1>
                <p class="teacher_name"><strong>{{ classroom.teacher.first_name }},</strong> {{ classroom.teacher.occupation }}</p>
            </div>
        </div>
    </div>
</div>
<div class="container content-container">
    <div class="row screenshot-row">
        <div class="col-md-7 screenshot-column">
            <img src="{{ classroom.screenshot.url }}" class="classroom-screnshot" alt="class screenshot" height="400" width="700">
        </div>
        <div class="col-md-3 col-md-offset-1 teacher-section">
            <h1>{{ classroom.teacher.first_name }}</h1>
            <img src="{{ classroom.teacher.image.url }}" alt="teacher image" height="150" width="150">
            <p>{{ classroom.teacher.about }}</p>
            <hr>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-md-7 content-column">
{#            <h1>{{ classroom.title }}</h1>#}
            <h4>Class Project</h4>
            <hr>
            <p class="project-title">{{ classroom.project }}</p>
            <h4>About the Class</h4>
            <hr>
            <p>{{ classroom.description }}</p>
        </div>
        <div class="col-md-3 col-md-offset-1 payment-section">
            <p class="cost">${{ classroom.cost }} an hour</p>
            <p class="reserve">Reserve Your First Lesson<br></p>
            <form action="/charge/{{ classroom.id }}" method="POST" class="stripeBtn">
            {% csrf_token %}
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_pWxm3wMH8P9Lvrp96uZp7nHK"
                data-amount="{{ classroom.cost }}"
                data-name="{{ classroom.teacher }}"
                data-description="{{ classroom.title }} (${{ classroom.cost }})"
                data-image="{% static 'img/coact logo2-100.png' %}">
              </script>
            </form>
            <p class="schedule">Schedule a Time To Meet</p>
            <div class="contact-teacher">
{#                <a href="{% url 'join_class' classroom.id %}" id="join_class"><input id="join-class" type="submit" value="Schedule a lesson" name="SubmitButton"></a>#}
                <a id="message-teacher" href="{% url 'messages_compose_to' classroom.teacher %}"><input id="send-message" class="btn btn-primary" type="submit" value="Send a message" name="SubmitButton"></a>
            </div>
            <p class="schedule">Then Join The Hangout</p>

            <div class="hangout">
                <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
                <g:hangout render="createhangout"
                    invites="[{ id : '{{ request.user.email }}', invite_type : 'PROFILE' },
                              { id : 'foo@example.com', invite_type : 'EMAIL' }]">
                </g:hangout>
            </div>
            <hr class="bottom-hr">
        </div>
    </div>
</div>



{% endblock %}