{% extends 'base-bs.html' %}

{% load staticfiles %}

{% block title %}
Available Projects | Coact
{% endblock %}

{% block css %}
"{% static "css/bootstrap-css/class-list.css" %}"
{% endblock %}

{% block head %}
{% endblock %}



{% block content %}

<div class="info-container container">
    <div class="row">
        <div class="col-md-12 copy-header">
            <hr>
            <h1>Available Classes</h1>
            <p>Placeholder Text</p>
            <hr>
        </div>
    </div>
</div>

<!-- Classes Section -->

<div class="info-container container">
    <div class="row info-row">
        {% for class in classroom %}
        <a href="{% url 'class_details' class.id %}">
        <div class="col-md-12 teacher-info">
            <div class="class-image">
                <img src="{{ class.screenshot.url }}" alt="class screenshot" height="175" width="225">
            </div>
            <div class="teacher-picture">
                <a href="{% url 'view_teacher' class.teacher.id %}"><img class="teacher-pic" src="{{ class.teacher.image.url }}" alt="class teacher image" height="85" width="85"></a>
            </div>
            <div class="class-name-div">
                <a href="{% url 'class_details' class.id %}" class="class-name">{{ class }}</a>
            </div>
            <div class="teacher-name">
                <p>by: <a href="{% url 'view_teacher' class.teacher.id %}">{{ class.teacher.username }}</a></p>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
</div>



{% endblock %}