{% extends 'base-bs.html' %}
{% load staticfiles %}

{% block title %}
{{ classroom.title }} Details | Coact
{% endblock %}


{% block css %}
"{% static 'css/bootstrap-css/class_details.css' %}"
{% endblock %}


{% block content %}

<div class="wrapper-header">
    <div class="container header-container">
        <div class="row title-row">
            <div class="col-md-12 title-column">
                <h1>{{ classroom.title }}</h1>
                <p class="teacher_name"><strong>{{ classroom.teacher.first_name }},</strong> {{ classroom.teacher.occupation }}</p>
            </div>
        </div>
    </div>
</div>
<div class="container content-container">
    <div class="row screenshot-row">
        <div class="col-md-7 screenshot-column">
            <img src="{{ classroom.screenshot.url }}" class="classroom-screnshot" alt="class screenshot" height="400" width="700">
            <div class="social-stuff">
                <div class="fb-like">
                    <img src="{% static 'img/somacro__45_300dpi_social_media_icons_by_vervex-d4fj7q9/no border/facebook500.png' %}" height="25">
                    <img src="{% static 'img/somacro__45_300dpi_social_media_icons_by_vervex-d4fj7q9/no border/twitter.png' %}" height="25">
                    <img src="{% static 'img/somacro__45_300dpi_social_media_icons_by_vervex-d4fj7q9/no border/tumblr.png' %}" height="25">
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1 teacher-section">
            <h1 class="teacher-first_name">{{ classroom.teacher.first_name }}</h1>
            <a href="{% url 'view_teacher' user.id %}"><img class='teacher-image' src="{{ classroom.teacher.image.url }}" alt="teacher image" height="125" width="125"></a>
            <p class="teacher-about">{{ classroom.teacher.about }}</p>
            <hr>
            {% if classroom.teacher == request.user %}
                <a id="edit-details" href="{% url 'edit_class' classroom.id %}" class="btn btn-primary edit-class">Edit Class Details</a>
                <hr class="edit-class-hr">
            {% endif %}
        </div>
    </div>
    <div class="row content-row">
        <div class="col-md-7 content-column">
{#            <h1>{{ classroom.title }}</h1>#}
            <h4>Class Project</h4>
            <hr>
            <p class="project-title">{{ classroom.project }}</p>
            <h4>About the Class</h4>
            <hr>
            <p class="classroom-description">{{ classroom.description }}</p>
        </div>
        <div class="col-md-3 col-md-offset-1 payment-section">
            <p class="cost">${{ classroom.cost }} an hour</p>
            <p class="schedule">Schedule a Time To Meet</p>
            <div class="contact-teacher">
{#                <a href="{% url 'join_class' classroom.id %}" id="join_class"><input id="join-class" type="submit" value="Schedule a lesson" name="SubmitButton"></a>#}
                <a id="message-teacher" href="{% url 'messages_compose_to' classroom.teacher %}"><input id="send-message" class="btn btn-primary" type="submit" value="Send A Message" name="SubmitButton"></a>
            </div>
            <p class="reserve">Reserve Your First Lesson<br></p>
            <form action="/charge/{{ classroom.id }}" method="POST" class="stripeBtn">
            {% csrf_token %}
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_pWxm3wMH8P9Lvrp96uZp7nHK"
                data-amount="{{ cost_in_cents }}"
                data-name="{{ classroom.teacher.first_name }}"
                data-description="{{ classroom.title }} (${{ classroom.cost }})"
                data-image="{% static 'img/coact logo2-100.png' %}">
              </script>
            </form>
            <p class="schedule">Then Join The Hangout</p>

            <div class="hangout">
                <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
                <g:hangout render="createhangout"
                    invites="[{ id : '{{ request.user.email }}', invite_type : 'PROFILE' },
                              { id : 'foo@example.com', invite_type : 'EMAIL' }]">
                </g:hangout>
            </div>
            <hr class="bottom-hr">
        </div>
    </div>
</div>



{% endblock %}