{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
Create a new class! | Coact
{% endblock %}


{% block css %}
"{% static 'css/create_class.css' %}"
{% endblock %}


{% block content %}
<h1>Leave A Review on <br>"{{ classroom.title }}"</h1>
<div class="registration-wrapper">
  <form enctype="multipart/form-data" method='POST'>
    {% csrf_token %}
      {{ form.as_p }}
    <input id="submit" type="submit" value="Submit Review" name="SubmitButton">
  </form>
</div>
{% endblock %}