{% extends "base-bs.html" %}
{% load staticfiles %}




{% block title %}
Login | Teach For Charity with Coact
{% endblock %}

{% block css %}
"{% static 'css/bootstrap-css/login.css' %}"
{% endblock %}

{% block content %}

    <div class="container">
      <form class="form-signin" role="form" method="post" action=".">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input id="id_username" maxlength="245" name="username" type="text" class="form-control" placeholder="Username" required autofocus>
        <input id="id_password" name="password" type="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

{% endblock %}


{#<!DOCTYPE html>#}
{#<html>#}
{#<head lang="en">#}
{#    <meta charset="UTF-8">#}
{#    <title>Login | Teach For Charity with Coact</title>#}
{#    <!-- Bootstrap Files -->#}
{##}
{#    <!-- Latest compiled and minified CSS -->#}
{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
{#    <!-- Optional theme -->#}
{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
{#    <!-- Latest compiled and minified JavaScript -->#}
{#    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-css/login.css' %}"#}
{#</head>#}
{#<body>#}
{#    <div class="holder">#}
{#        <h3>Sign in to Coact</h3>#}
{#        <form method="post" action="." class="form">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <input class='register-button' type="submit" value="Log in">#}
{#        </form>#}
{##}
{#        <p>Not a member? <a href="{% url 'register' %}">Register!</a></p>#}
{#    </div>#}
{#</body>#}
{#</html>#}



