{% extends "base-bs.html" %}
{% load staticfiles %}

{% block css %}
'{% static 'css/bootstrap-css/password-reset.css' %}'
{% endblock %}


{% block content %}
    <form method="post" action="." class="form">
    <div class="form-group email-form">
        {% csrf_token %}
        <label for="id_email">Enter Your Email</label>
        <input id="id_email" maxlength="254" name="email" type="email" placeholder="e-mail" class="form-control email-input" style="width:10%;">
        <input type="submit" value="Submit" class="btn btn-default">
    </div>
    </form>
{% endblock %}